@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@600&display=swap');


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* font-family: 'PT Sans', sans-serif; */
  font-family: 'Titillium Web', sans-serif;
}

.home,
.contact-us {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
}


.teams,
.players,
.hype,
.homewin,
.bestgame,
.threept,
.fg,
.search,
.block{
  height: 150vh;
  background-color: #404040;
  color: white;
}

.home {
  background-image: url('./images/img-1.jpg');
  background-position: center;
  background-size: cover;
  height: 1080px;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.contact-us {
  background-image: url('./images/img-4.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

form {
  text-align: center;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #00000;
  opacity: 1; /* Firefox */
}
input[type=text] {
  background-color: #404040;
  color: white;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #00000;
  opacity: 1; /* Firefox */
}

td {
  border: 1px solid #000;
}

tr td:last-child {
  width: 1%;
  white-space: nowrap;
}
table {
  width: 100%;
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid white;
}

h1 {
  text-align:center;
}