* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
}

.home,
.contact-us {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
}


.teams,
.players,
.hype,
.homewin,
.bestgame,
.threept,
.fg,
.block{
  height: 150vh;
  background-color: #404040;
  color: white;
}

.home {
  background-image: url('./images/img-1.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.contact-us {
  background-image: url('./images/img-4.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}